
.pricing-table * {
margin: 0;
padding: 0;
box-sizing: border-box;
-moz-box-sizing: border-box;
text-align: center;
}

.pricing-table html, .pricing-table body, .pricing-table div, .pricing-table span, .pricing-table applet, .pricing-table object, .pricing-table iframe, .pricing-table h1, .pricing-table h2, .pricing-table h3, .pricing-table h4, .pricing-table h5, .pricing-table h6, .pricing-table p, .pricing-table blockquote, .pricing-table pre, .pricing-table a, .pricing-table abbr, .pricing-table acronym, .pricing-table address, .pricing-table big, .pricing-table cite, .pricing-table code, .pricing-table del, .pricing-table dfn, .pricing-table em, .pricing-table img, .pricing-table ins, .pricing-table kbd, .pricing-table q, .pricing-table s, .pricing-table samp, .pricing-table small, .pricing-table strike, .pricing-table strong, .pricing-table sub, .pricing-table sup, .pricing-table tt, .pricing-table var, .pricing-table b, .pricing-table u, .pricing-table i, .pricing-table center, .pricing-table dl, .pricing-table dt, .pricing-table dd, .pricing-table ol, .pricing-table ul, .pricing-table li, .pricing-table fieldset, .pricing-table form, .pricing-table label, .pricing-table legend, .pricing-table table, .pricing-table caption, .pricing-table tbody, .pricing-table tfoot, .pricing-table thead, .pricing-table tr, .pricing-table th, .pricing-table td, .pricing-table article, .pricing-table aside, .pricing-table canvas, .pricing-table details, .pricing-table figcaption, .pricing-table figure, .pricing-table footer, .pricing-table header, .pricing-table hgroup, .pricing-table menu, .pricing-table nav, .pricing-table section, .pricing-table summary, .pricing-table time, .pricing-table mark, .pricing-table audio, .pricing-table video {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
font: inherit;
vertical-align: top;
box-sizing: border-box;
-moz-box-sizing: border-box;
}


.pricing-table body {
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: rgba(39,65,90,1);
}

.pricing-table h4 {
margin-bottom: 12px;
font-size: 1.25em;
font-weight: 400;
text-transform: uppercase;
}

.pricing-table h5 {
font-size: 1.3em;
}

.pricing-table p {
margin-top: 1em;
margin-bottom: 1em;
color: rgba(39,65,90,.9);
font-size: 1.25em;
line-height: 1.625em;
}


.pricing-table ol, ul {
list-style: none;
}

.pricing-table body {
line-height: 1;
}

.pricing-table strong {
color: rgba(39,65,90,1);
font-weight: 600;
}

.pricing-table .plans {
background: #e7f2f0;
}

.pricing-table .layer {
clear: both;
width: 100%;
height: auto;
padding: 60px 7.5% 60px;
display: block;
}

.pricing-table .layer > section, .layer > article {
clear: both;
width: 100%;
height: auto;
max-width: 1092px;
margin: 0 auto;
display: block;
}

.pricing-table .third {
width: 27.95%;
margin: 0 30px 0 0;
display: inline-block;
}

.pricing-table .plan-tier {
background: white;
vertical-align: top;
border-radius: 3px;
-moz-border-radius: 3px;
cursor: pointer;
overflow: hidden;
}

.pricing-table .lift {
position: relative;
-webkit-transition: all .075s ease-out;
-moz-transition: all .075s ease-out;
-o-transition: all .075s ease-out;
transition: all .075s ease-out;
}

.pricing-table .lift:hover {
top: -3px;
-webkit-box-shadow: 0 4px 8px rgba(39,65,90,.15);
-moz-box-shadow: 0 4px 8px rgba(39,65,90,.15);
box-shadow: 0 4px 8px rgba(39,65,90,.15);
}

.pricing-table .plan-tier h4 {
padding: 18px 0 15px;
margin: 0 0 30px;
background: #00a1ff;
color: white;
}

.pricing-table .plan-tier {
cursor: pointer;
}

.pricing-table .plan-tier sup {
position: relative;
right: -9px;
}

.pricing-table .plan-tier ul {
margin: 30px 0 0;
border-top: 2px solid #e7f2f0;
}

.pricing-table .plan-tier ul li {
font-size: 1.25em;
padding: 18px 0;
color: rgba(39,65,90,.9);
border-bottom: 2px solid #e7f2f0;
}

.pricing-table sup {
vertical-align: top;
}

.pricing-table .plan-tier .plan-price {
font-size: 5em;
font-weight: 300;
letter-spacing: -3px;
}

.pricing-table .plan-tier sub {
vertical-align: bottom;
position: relative;
bottom: .875em;
}

.pricing-table .plan-tier .early-adopter-price {
color: #0091e5;
}
.pricing-table p:first-of-type {
margin-top: 0;
}

.pricing-table small, del {
color: rgba(39,65,90,.5);
font-size: 1em;
line-height: 1.5em;
}

.pricing-table s, strike, del {
text-decoration: line-through;
}


.pricing-table .layer {
padding-top: 96px;
padding-bottom: 96px;
}

.pricing-table .plan-tier.callout h6 {
width: 100%;
padding: 15px 0 14px;
background: #8dcf3f;
color: rgba(39,65,90,.5);
font-size: 1.25em;
}

.pricing-table .plan-tier.callout h4 {
background-color: #78b336;
}